extends ../layouts/default.pug

block site-content
  section.section.page
    .section__header.page__header
      .container
        .row
          .col-sm-12
            .section__title.page__title
              | Наш центр
    .section__content.page__content
        .container
          .row
            .col-sm-12.text-justify
              p
                | Ut enim ad minima veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
              p
                | Ut enim ad minima veniam, consectetur adipiscing elit, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
              p
                | Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo!
              .carousel
                #carousel
                  img(src='assets/images/command/command_1.jpg')
                  img(src='assets/images/command/command_1.jpg')
                  img.test(src='assets/images/command/command_1.jpg')
                  img(src='assets/images/command/command_1.jpg')
                  img(src='assets/images/command/command_1.jpg')
                  img(src='assets/images/command/command_1.jpg')