extends ../layouts/default.pug

block site-content
  section.section.command.category
    .section__header.command__header.category__header
      .wrapper.text-center
        h1.section__title.command__title.category__title
          | Команда
    .section__content.command__content.category__content
      .wrapper
        .command__cell_width_33
          .command__one
            .command__photo
              .command__square
              .frame.command__frame
                img(src='assets/images/command/command_1.jpg')
            h3.name.command__name.text-center
              | Ольга Юрьевна Егорова
            .command__post.text-center
              | Руководитель
            .description.command__description.text-center
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
        .command__cell_width_33
          .command__one
            .command__photo
              .command__square
              .frame.command__frame
                img(src='assets/images/command/command_1.jpg')
            h3.name.command__name.text-center
              | Ольга Юрьевна Егорова
            .command__post.text-center
              | Руководитель
            .description.command__description.text-center
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
        .command__cell_width_33
          .command__one
            .command__photo
              .command__square
              .frame.command__frame
                img(src='assets/images/command/command_1.jpg')
            h3.name.command__name.text-center
              | Ольга Юрьевна Егорова
            .command__post.text-center
              | Руководитель
            .description.command__description.text-center
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
        .command__cell_width_33
          .command__one
            .command__photo
              .command__square
              .frame.command__frame
                img(src='assets/images/command/command_1.jpg')
            h3.name.command__name.text-center
              | Ольга Юрьевна Егорова
            .command__post.text-center
              | Руководитель
            .description.command__description.text-center
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
        .command__cell_width_33
          .command__one
            .command__photo
              .command__square
              .frame.command__frame
                img(src='assets/images/command/command_1.jpg')
            h3.name.command__name.text-center
              | Ольга Юрьевна Егорова
            .command__post.text-center
              | Руководитель
            .description.command__description.text-center
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.