// Fonts
baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
fontSize = 16px
lineHeight = 1.5

// Colors
accentColor = #FF515C
additionalColor = #E8EA4D
changeColor = 20%
darkColor = #333333
darkLightColor = #F3F3F3
lightColor = #FFFFFF
themeColor = #e0435e
webmikornColor = #E8EA4D
darkthemeColor = #B2435E

// Height & width
containerWidth = 1170px
headerHeight = 60px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
navigationBreakPoint = lg

// Overlays
accentOverlay = rgba(255, 81, 92, 0.9)
darkOverlay = rgba(0, 0, 0, 0.5)
darkWindow = rgba(0, 0, 0, 0.8)
lightOverlay = rgba(255, 255, 255, 0.45)
themeOverlay = rgba(224, 67, 94, 0.8)
