footer.site__footer.footer
  .wrapper
    .footer__cell
      .bottom-nav
        h3.bottom-nav__name
          | О центре
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | История центра
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Наша миссия
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Нормативно-правовая база
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Учредительные документы
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Организационные документы
    .footer__cell
      .bottom-nav
        h3.bottom-nav__name
          | Материалы
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Книги и пособия
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Презентации
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Видеоматериалы
    .footer__cell
      .bottom-nav
        h3.bottom-nav__name
          | Полезные ссылки
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='http://www.diaconia.ru/', target='_blank')
              | Синодальный отдел по церковной благотворительности и социальному служению
          li.bottom-nav__item
            a.bottom-nav__link(href='https://www.miloserdie.ru/', target='_blank')
              | Православная служба помощи &laquo;Милосердие&raquo;
          li.bottom-nav__item
            a.bottom-nav__link(href='http://www.mmom.ru/', target='_blank')
              | Марфо-Мариинская Обитель милосердия
          li.bottom-nav__item
            a.bottom-nav__link(href='http://ikb2.ru/', target='_blank')
              | Инфекционная клиническая больница №2 Департамента здравоохранения города Москвы
  .wrapper
    .footer__line
  .wrapper
    .corpinfo
        | Ресурсный центр паллиативной помощи ВИЧ-инфицированным Свято-Димитриевского сестричества Московской патриархии РПЦ, 2018 г.
    .copyright
      | При использовании материалов ссылка на 
      a.copyright__link(href='https://palliative-2ikb.ru/')
        | palliative-2ikb.ru
      |  обязательна
    .webmikorn
      a(href='https://webmikorn.ru/', target='_blank')
        | Разработка сайта Микорн