main.section.main
  .main__slider
    img(src='assets/images/main/main__slider_slide_2.jpg')
  .main__border
  .main__header
    .main__triangle
    h1.main__title
      | Ресурсный центр паллиативной помощи ВИЧ-инфицированным