nav#navigation.navigation
  ul#navigation__list.navigation__list.navigation__hidden
    li
      a(href='#')
        | Главная
    li
      a(href='#')
        | О центре
      ul
        li
          a(href='#')
           | История центра
        li
          a(href='#')
           | Наша миссия
        li
          a(href='#')
           | Нормативно-правовая база
        li
          a(href='#')
           | Учредительные документы
        li
          a(href='#')
           | Организационные документы
    li
      a(href='#')
        | Галерея
    li
      a(href='#')
        | Материалы
      ul
        li
          a(href='#')
           | Книги и пособия
        li
          a(href='#')
           | Презентации
        li
          a(href='#')
           | Видеоматериалы
    li
      a(href='#')
        | Вакансии
    li
      a(href='#')
        | Контакты