section.section.news
  .section__header.news__header
    .wrapper.text-center
      h2.section__title.news__title
        | Новости
  .section__content.news__content
    .wrapper
      .news__cell
        a.news__link(href='#')
          .news__one
            .frame.news__frame
              img(src='assets/images/news/news_1.jpg')
            h3.name.news__name.text-center
              | Lorem ipsum dolor sit amet
            .description.news__description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio. Nam hendrerit interdum mi,
            .button-group.text-center
              a.button.button_bg_theme(href='#')
                | Читать
      .news__cell
        a.news__link(href='#')
          .news__one
            .frame.news__frame
              img(src='assets/images/news/news_1.jpg')
            h3.name.news__name.text-center
              | Lorem ipsum dolor sit amet
            .description.news__description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio. Nam hendrerit interdum mi,
            .button-group.text-center
              a.button.button_bg_theme(href='#')
                | Читать
      .news__cell
        a.news__link(href='#')
          .news__one
            .frame.news__frame
              img(src='assets/images/news/news_1.jpg')
            h3.name.news__name.text-center
              | Lorem ipsum dolor sit amet
            .description.news__description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio. Nam hendrerit interdum mi,
            .button-group.text-center
              a.button.button_bg_theme(href='#')
                | Читать
      a(href='#').other  
        .other__wrapper
          .other__thumbnail
            i.fa.fa-file-text-o
          h3.name.other__name
            | Другие новости