.main__title
  color lightColor
  font-family titleFont
  font-size round(fontSize * 1.8)
  position relative
  text-align center
  z-index 2
  text-shadow: 1px 1px 1px #000
  max-width calc(94vw - 30px)
  @media only screen and (min-width: sm)
    font-size round(fontSize * 2.5)