.center__left
  display none
  @media only screen and (min-width: sm)
    background themeOverlay
    bottom 0
    display block
    height centerLeftHeight = 420px
    left 0
    position absolute
    top -50px
    width 5%
    z-index 2
    &:before
      border-bottom centerLeftHeight solid themeOverlay
      border-right 120px solid transparent
      bottom 0
      content ''
      height 0
      left 100%
      position absolute
      top 0
      width 0